*{
    padding: 0;
    margin: 0;
}

.wrapper{
    background: #F84A2F;     
    width: 100%;
}

.navigation{
    background-color:  F94F30;
    width: 1000px;
    margin: 0 auto;
    height: 150px;
}

li{
    list-style: none;    
}

.nav-left li{    
    padding: 20px;
    text-align: center;
    color: white;    
    float: left;       
}

.nav-right ul li{       
    padding: 20px;
    text-align: center;
    color: white;    
    float: right;         
}

.logosearchbox{
    display: flex;
    float: left;
    clear: left;    
    height: 80px;
    width:100%;
}

.logo{
    text-align: center;
    color: white;
    padding: 30px 0px 10px 0px;
    height: 40px;
    width: 150px;
    border: 1px solid white;
    clear: both;
}

input{
    margin-left: 20px;
    height: 40px; 
    width: 60%;    
}

.icon {
    padding-top: 10px;
    text-align: center;
    margin-left: 20px;
    background:white;
    width: 50px;
    height:30px;
}

.cart{
    margin-left: 20px;
    text-align: center;
    background:white;
    color: black;
    padding: 30px 0px 10px 0px;
    height: 40px;
    width: 150px;
    border: 1px solid white;
    clear: both;
}




