*{
    padding: 0;
    margin: 0;
}

.wrapper{
    background: #F84A2F;     
    width: 100%;
}

.navigation{
    background-color:  F94F30;
    width: 1000px;
    margin: 0 auto;
    height: 150px;
}

li{
    list-style: none;    
}

.nav-left li{    
    padding: 20px;
    text-align: center;
    color: white;    
    float: left;       
}

.nav-right ul li{       
    padding: 20px;
    text-align: center;
    color: white;    
    float: right;         
}

